$bg-color: #191a1f;
$bg2-color: #F7F7F7;
$white-color: rgba(255, 255, 255, 1);
$text-color: rgba(255, 255, 255, 0.6);
$bg-light-color: rgba(247, 247, 247, 0.1);
$theme-color: #2F388D;
$hover-color: #7983D9;
$default-color: #858585;
$red-color: #AF0101;


$size-30: 30px;
$size-24: 24px;
$size-17: 17px;
$size-16: 16px;
$size-15: 15px;
$size-14: 14px;