

/* Styles for light theme */
html[data-theme="light"] {
    --header-bg-color: #2e20ae;
    --header-text-color: #fff;
    --link-color: #10284e;
    --breadcrumbs-bg-color: #6b69d5;
    --breadcrumbs-text-color: #10284e;
    --breadcrumbs-link-color: #333;
    --module-header-bg-color: #ec77cb;
    --button-bg-color: #10284e;
    --button-text-color: #fff;
    --selected-row: #ffc;
}

html[data-theme="auto"] {
    --header-bg-color: #2e20ae;
    --header-text-color: #fff;
    --link-color: #10284e;
    --breadcrumbs-bg-color: #6b69d5;
    --breadcrumbs-text-color: #10284e;
    --breadcrumbs-link-color: #333;
    --module-header-bg-color: #ec77cb;
    --button-bg-color: #10284e;
    --button-text-color: #fff;
    --selected-row: #ffc;
}

/* Styles for dark theme */
html[data-theme="dark"] {
    --header-bg-color: #2e20ae;
    --header-text-color: #fff;
    --link-color: #d5ddf3;
    --breadcrumbs-bg-color: #6b69d5;
    --breadcrumbs-text-color: #10284e;
    --breadcrumbs-link-color: #e9e9ca;
    --module-header-bg-color: #4d4c93;
    --button-bg-color: #10284e;
    --button-text-color: #fff;
    --selected-row: #10284e;
}

#header {
    background: var(--header-bg-color);
    color: var(--header-text-color);
}

#branding h1 {
    color: var(--header-text-color);
}

a:link,
a:visited {
    color: var(--link-color);
}

div.breadcrumbs {
    background: var(--breadcrumbs-bg-color);
    color: var(--breadcrumbs-text-color);
}

div.breadcrumbs a {
    color: var(--breadcrumbs-link-color);
}

.module h2, .module caption, .inline-group h2 {
    background: var(--module-header-bg-color);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--button-bg-color);
    color: var(--button-text-color);
}


button.default, input[type=submit].default, .submit-row input.default {
    background: var(--button-bg-color);
    color: var(--button-text-color);
}

