{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="planner-wrapper">
        <div class="">
          <h1 class="main-heading">Change Password</h1>

          {% if form.errors %}
          <div id="" class="" style=" margin: 10px; max-width: 100%; display: flex; justify-content: center;">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
               {{ form.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          {% endif %}
        </div>
        
        <form class="my-4" method="post">
          {% csrf_token %}
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-4">
                <div class="form-wrapper">
                  <label class="form-heading" for=""
                    >Old Password</label
                  >
                  <div class="input-wrap">
                    <span>
                      <img
                        src="{% static 'assets/images/svg/password.svg' %}"
                        alt="png-logo"
                      />
                    </span>
                    <input
                      class="input-field text-1"
                      type="password"
                      name="{{ form.old_password.html_name }}"
                      id="{{ form.old_password.id_for_label }}"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-4">
                <div class="form-wrapper">
                  <label class="form-heading" for=""
                    >New Password</label
                  >
                  <div class="input-wrap">
                    <span>
                      <img
                        src="{% static 'assets/images/svg/password.svg' %}"
                        alt="png-logo"
                      />
                    </span>
                    <input
                      class="input-field text-2"
                      type="password"
                      name="{{ form.new_password1.html_name }}"
                      id="{{ form.new_password1.id_for_label }}"
                    />
                  </div>

                </div>
              </div>
              <div class="col-md-12 col-sm-4">
                <div class="form-wrapper">
                  <label class="form-heading" for=""
                    >Confirm Password</label
                  >
                  <div class="input-wrap">
                    <span>
                      <img
                        src="{% static 'assets/images/svg/password.svg' %}"
                        alt="png-logo"
                      />
                    </span>
                    <input
                      class="input-field text-3"
                      type="password"
                      name="{{ form.new_password2.html_name }}"
                      id="{{ form.new_password2.id_for_label }}"
                    />
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="col-md-12 my-4 d-flex justify-content-end align-items-center"
              >
                <button
                  type="submit"
                  class="btn-theme-dark mx-0 mt-3 w-25"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
