{% extends 'admin/base.html'%}
{% load static %}

{% block extrahead %}
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}?v=1.1">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}?v=1.1">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}?v=1.1">
<link rel="manifest" href="{% static 'site.webmanifest' %}?v=1.1">
{% endblock %}

{% block branding %}
<h1 id="header">
    <strong>ML Endurance Fueling App Admin Area</strong>
</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'assets/style/admin.css' %}?v=1.0">
{% endblock %}

